@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "List";
}


<h2>List</h2>

@foreach (var item in Model.Products)
{
    <div>
        @Html.Partial("ProductSummary", item)

    </div>

}

<div>@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {page = x}))</div>